
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Monthly Music DT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div style="width: 90%; margin: 0 auto" class="tablecontainer">
        <a class="popup btn btn-primary" href="~/MonthlyMusicDT/save/0" style="margin-bottom:20px; margin-top:20px;">Add New Music</a>
        <table id="musicDatatable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Church Day</th>
                    <th>Opening</th>
                    <th>Open Num</th>
                    <th>Psalm</th>
                    <th>Ps. Num</th>
                    <th>Preparation</th>
                    <th>Prep Num</th>
                    <th>Communion</th>
                    <th>Comm. Num</th>
                    <th>Closing</th>
                    <th>Close Num</th>
                    <th>Notes</th>
                </tr>
            </thead>
        </table>
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"> </script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(document).ready(function () {
            var oTable = $('#musicDatatable').DataTable({
                "ajax": {
                    "url": '/MonthlyMusicDT/GetMusic',
                    "type": "get" ,
                    "datatype": "json"
                },
                "columns": [
                    {"data": "Date", "autoWidth": true},
                    { "data": "churchDay", "autoWidth": true },
                {"data": "Opening", "autoWidth": true}, 
                {"data": "OpeningNumber", "autoWidth": true},
                 {"data": "Psalm", "autoWidth": true},
                  { "data": "PsalmNumber", "autoWidth": true },
                   { "data": "Preparation", "autoWidth": true },
                    { "data": "PreparationNumber", "autoWidth": true },
                     { "data": "Communion", "autoWidth": true },
                      { "data": "CommunionNumber", "autoWidth": true },
                       { "data": "Closing", "autoWidth": true },
                        { "data": "ClosingNumber", "autoWidth": true },
                         { "data": "Notes", "autoWidth": true },
                          {
                              "data": "MusicID", "width": "50px", "render": function (data) {
                                  return '<a class="popup" href="/home/save' + data + '">Edit</a>';
                              }
                          },
                          {
                              "data": "MusicID", "width": "50px", "render": function (data) {
                                  return '<a class="popup" href="/home/save' + data + '">Delete</a>';
                              }
                          }
                ]
            })
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                .html($pageContent)
                .dialog({
                    draggable: false,
                    autoOpen: false,
                    resizable: false,
                    model: true,
                    title: 'New Monthly Music',
                    height: 550,
                    width: 600,
                    close: function () {
                        $dialog.dialog('destroy').remove();
                    }
                })
            }
        })
    </script>
</body>
</html>

